header h1 {
    text-align: center;
}

header nav ul {
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: .25em;
}
.packages-name {
    margin: 0;
}
.packages-list {
    padding-inline-start: 40px;
}

.outdated {
    color: #CCC;
    font-size: .8em;
}

.outdated a {
    color: #BBB;
}

.ml-10 {
    margin-left: 10px;
}